<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img src="/assets/img/profile.jpg">
            </a>
            <div class="content">
                <a class="header">Vlad Kap</a>
                <div class="description">
                    <p>Теория — это когда все известно, но ничего не работает. Практика — это когда все работает, но никто не знает почему. Мы же объединяем теорию и практику: ничего не работает... и никто не знает почему!</p>
                    <p style="text-align-last: right; font-style: italic;">Альберт Эйнштейн</p>
                </div>
            </div>
        </div>
    </div>
</div>