<div class="header-wrapper">
    <header>
        <!-- logo and description -->
        {% if page.layout != "post" %}
        <div class="head-area">
            <h1 class="site-logo">
                <a href="/"><img src="/assets/img/logo.png" class="logo"/></a>
            </h1>
            <h3 class="site-description">{{ site.description }}</h3>
        </div>
        {% endif %}
        <nav class="site-nav">
            <div class="left-nav">
                <!-- add titles to all buttons -->
                <div class="ui secondary menu inverted">
                    <a class="item" href="/">
                        Домой
                    </a>
                    <a class="item" href="/about.html">
                        About
                    </a>
                    <a class="item" href="/archive.html">
                        Архив
                    </a>
                    <div class="right menu">
                        <div id="js-super-search" class="ui category search item">
                            <div class="ui transparent icon input">
                                <a href="javascript:void(0)" onclick="window.location.reload()" class="super-search__close-btn">X</a>
                                <input placeholder="Поиск..." type="text" id="js-super-search__input">
                                <ul class="super-search__results" id="js-super-search__results"></ul>
                            </div>
                        </div>
                        <!-- <div id="head-search" class="ui category search item">
                            <div class="ui transparent icon input">
                                <input placeholder="Поиск..." type="text" id="search-input" onkeypress="handleKeyPress()">
                                <i class="search link icon" onclick="handleSubmit()"></i>
                            </div>
                        </div> -->
                        <!-- <div id="head-search" class="ui category search item">
                            <div class="ui transparent icon input">
                                <a href="javascript:void(0)" onclick="superSearch.toggle()" class="super-search__close-btn">X</a>
                                <input placeholder="Поиск..." type="text" id="js-super-search__input">
                                <ul class="super-search__results" id="js-super-search__results"></ul>
                            </div>
                        </div> -->
                        
                        <a class="item" href="https://www.facebook.com/vlad.kap.73">
                            <i class="facebook link icon"></i>
                        </a>
                        <a class="item" href="https://github.com/vkapitoshka">
                            <i class="github link icon"></i>
                        </a>
                        <a class="item" href="/feed.xml">Subscribe</a>
                    </div>
                </div>
            </div>
            <div class="right-nav"></div>
        </nav>
    </header>
</div>